<mat-toolbar>
  <div>
    <button mat-raised-button class="menu-button" routerLink="/">Home</button>
  </div>
  <div>
    <button mat-raised-button class="menu-button" routerLink="strands">
      Strands
    </button>
  </div>
  <div>
    <button mat-raised-button class="menu-button" routerLink="wordle">
      Wordle
    </button>
  </div>
  <div>
    <a href="https://connections.swellgarfo.com/game/-NwLMSl2lDhzIj0GN5zx">
      <button mat-raised-button class="menu-button">Connections</button>
    </a>
  </div>
</mat-toolbar>

<mat-divider></mat-divider>

<router-outlet></router-outlet>
