<div>
  <div class="parent">
    <a href="https://mywordle.strivemath.com/?word=rouhc">
      <button mat-raised-button class="button-square">Wordle <br />1</button>
    </a>
    <a href="https://mywordle.strivemath.com/?word=oqfqp">
      <button mat-raised-button class="button-square">Wordle <br />2</button>
    </a>
    <a href="https://mywordle.strivemath.com/?word=ovrxy">
      <button mat-raised-button class="button-square green">
        Wordle <br />3
      </button>
    </a>
    <a href="https://mywordle.strivemath.com/?word=bieqj">
      <button mat-raised-button class="button-square yellow">
        Wordle<br />
        4
      </button>
    </a>
    <a href="https://mywordle.strivemath.com/?word=pstkj">
      <button mat-raised-button class="button-square yellow">
        Wordle<br />
        5
      </button>
    </a>
  </div>
  <div class="parent">
    <a href="https://mywordle.strivemath.com/?word=bwwwj">
      <button mat-raised-button class="button-square yellow">
        Wordle<br />
        6
      </button>
    </a>
    <a href="https://mywordle.strivemath.com/?word=ohfxe">
      <button mat-raised-button class="button-square">
        Wordle<br />
        7
      </button>
    </a>
    <a href="https://mywordle.strivemath.com/?word=hokwp">
      <button mat-raised-button class="button-square green">
        Wordle <br />8
      </button>
    </a>
    <a href="https://mywordle.strivemath.com/?word=xzrfv">
      <button mat-raised-button class="button-square green">
        Wordle<br />
        9
      </button>
    </a>
    <a href="https://mywordle.strivemath.com/?word=oarue">
      <button mat-raised-button class="button-square">
        Wordle<br />
        10
      </button>
    </a>
  </div>
</div>
